[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[dev-packages]
ipython = "*"

[packages]
django = "<2.0"
django-extensions = "*"
django-meerkat = "*"
"psycopg2-binary" = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
