{% extends "logan/base.html" %}
{% load static %}

{% block content %}

  {% if my_analyses %}
    <h1>My Analyses</h1>
    <ul class="list-group">
      {% for analysis in my_analyses %}
        <li class="list-group-item">
          <a href="{% url "analysis" analysis.id %}">{{ analysis }}</a>
          {% if analysis.description %}<p>{{ analysis.description }}</p>{% endif %}
        </li>
      {% endfor %}
    </ul>
    <hr>
  {% endif %}


  {% if visible_analyses %}
    <h1>Visible Analyses</h1>
    <ul class="list-group">
      {% for analysis in visible_analyses %}
        <li class="list-group-item">
          <a href="{% url "analysis" analysis.id %}">{{ analysis }}</a>
          {% if analysis.description %}<p>{{ analysis.description }}</p>{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock content %}
